<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998648729921-i1mt4kla5ableiqojisgnatl9opge4r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998648729921-i1mt4kla5ableiqojisgnatl9opge4r0</string>
	<key>API_KEY</key>
	<string>AIzaSyCO1SrqbVaj6P8Onypi6HvXz8YX0e5x_XY</string>
	<key>GCM_SENDER_ID</key>
	<string>998648729921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tantt.reminder</string>
	<key>PROJECT_ID</key>
	<string>reminder-e7fbb</string>
	<key>STORAGE_BUCKET</key>
	<string>reminder-e7fbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998648729921:ios:270c6e85269231a8c751c0</string>
</dict>
</plist>